{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title> {% block tilte %} {% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />  
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <div class="container">
   
          <img src="{% static 'images/icon.png' %}" alt="" width="30" height="24"
            class="d-inline-block align-text-top" />
          Магазин
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="{% url 'core:index' %}">Главная страница</a>
            <a class="nav-link" href="">Обо мне</a>
            <a class="nav-link" href="">Новости</a>
            <a class="nav-link" href="#">Логин</a>
            <a class="nav-link" href="#">Регистрация</a>
          </div>
        </div>
      </div>
    </nav>
    
    {% block content %}

    Нет контента! 

    {% endblock %}

{% include "includes/footer.html" %}